<div class="row" id="critical-points-progress">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <div class="panel-title pull-left">
          Your progress with critical points
        </div>
      </div>
      <div class="panel-body">
        <% @user.own_alternatives.each do |alternative| %>
          <div class="row">
            <div class="col-md-9">
              <h4><%= alternative.name.capitalize %></h4>
            </div>
            <div class="col-md-3">
              <h3><span class="label label-primary"><%= alternative.critical_points_by(@user).count %>/7</span></h3>
            </div>
          </div>
        <% end %>        
      </div>