<div id="traits-listing-<%= @user.own_alternatives.index(alternative) %>-<%= @traits.index(traits) %>">
  <% @user.not_assigned_to(alternative, traits, current_user).each do |trait| %>
    <div>
      <%= render partial: "trait", object: trait, locals: { :alternative => alternative } %>
    </div>
  <% end %>
</div> 