<div class="row">
  <% @resources.each do |resource| %>
    <% if @user.asked_collectible_from(current_user, resource) %>
      <%= render partial: "#{folder_name_for(resource)}/block", locals: { :resource => resource } %>
    <% end %>
  <% end %>  
</div>

<% content_for :right_menu do %>
  <%= render 'users/profile' %>
  <div class="row">
    <div class="col-md-12 text-center">
      <%= link_to 'Propose critical points', propose_critical_points_users_path(:proposer_id => @user.id), class: "btn btn-success" %>
    </div>
    <div class="col-md-12 text-center">
      <%= link_to 'Propose requirements', propose_requirements_users_path(:proposer_id => @user.id), class: "btn btn-success" %>
    </div>
  </div>
<% end %>