<div class="jumbotron">
  <h1>Welcome to the Choiso!</h1></h1>
  <p></p>
  <p>Please <%= link_to 'Sign Up', new_user_registration_path %> or <%= link_to 'Sign in', new_user_session_path %> to continue! </p>
</div>