<tr>
  <td>
    <%= link_to alternative_path(alternative), method: :delete,
                data: { confirm: 'Are you sure you want to delete this alternative and all its evaluations?' },
                :remote => true, :class => 'destroy_alternative' do %>
      <i class="fa fa-times" aria-hidden="true"></i>
    <% end %>
  </td>
  <td><%= alternative.name %></td>
  <td>
    <div class="row">
      <% (1..3).each do |i| %>
        <div class="col-md-1"><i class="fa fa-star-o" aria-hidden="true"></i></div>
      <% end %>
    </div>  
  </td>
</tr>  