  <li class="list-group-item">
    <div class="row">
      <div class="col-md-1 col-xs-1">
        <%= link_to alternative_path(alternative), method: :delete, id: "destroy_alternative",
                    data: { confirm: 'Are you sure you want to delete this alternative and all its evaluations, critical points and requirements?' },
                    :remote => true, :class => 'destroy_alternative' do %>
          <i class="fa fa-times" aria-hidden="true"></i>
        <% end %>
      </div>
      <div class="col-md-5 col-xs-4">
        <%= alternative.name %>
      </div>
      <div class="col-md-4">
        <%= render 'evaluations/scale', :alternative => alternative %>
      </div>
    </div>    
  </li>    