<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <div class="panel-title pull-left" style="padding-top:6px;">
          Define and evaluate your alternatives
        </div>
        <div class="btn-group pull-right">
          <%= link_to root_path, class: "btn btn-default", id: "toggle-alternatives", remote: true  do %>
            <span id="toggle-alternatives-label">Collapse</span>
          <% end %>
        </div>
      </div>
    
      <div class="panel-body" id="alternatives-body">
        <%= render 'alternatives/form' %>
        <hr>
        <table class="table table-striped">
          <thead>
              <tr>
                <th colspan="2">Your current alternatives</th>
                <th>Evaluation</th>
              </tr>
            </thead>
          <tbody id="alternatives-listing">
            <%= render @alternatives %>  
          </tbody>
        </table>  
      </div>  
    </div>  
  </div>
</div>