body {
  //background-image:url('background.png');
  background-color: #cccccc;
}

.dropdown-toggle-header {
  color: #111111;
  font-size: 17px;
}

.dropdown-toggle-header:hover {
  background-color: #e1e1e1;
}

.user-name-link {
  color: black !important;
  font-size: 18px;
}

a.btn:visited { color: white !important; }
a.btn-default:visited { color: black !important; }

.critical-point {
  padding-top: 6px;
}

.strength-point-style {
  border-left: 4px solid green;
}

.weakness-point-style {
  border-left: 4px solid red;
}

.label-default {
    background-color: #e8e8e8;
    cursor: pointer !important; 
    cursor: hand !important; 
}

.fa {
  cursor: pointer !important; 
  cursor: hand !important; 
}

.fa-stack {
  color: #e8e8e8;
  &:hover {
    color: #d43f3a;
  }
}

.close-link {
  &:hover {
    text-decoration: none;
  }
} 

.label {
  cursor: pointer;
  cursor: hand; 
}

.label-strength {
    background-color: #5cb85c !important;
}

.label-weakness {
    background-color: #d9534f !important;
}

.label-alternative {
    background-color: #428bca !important;
}

.label-critical-point {
    background-color: #8258FA !important;
}

.label-requirement {
    background-color: #FF8000 !important;
}