.dropdown-toggle-header {
  color: #111111;
  font-size: 17px;
}

.dropdown-toggle-header:hover {
  background-color: #e1e1e1;
}

.user-name-link {
  color: black;
  font-size: 18px;
}

a.btn:visited { color: white !important; }
a.btn-default:visited { color: black !important; }

.critical-point {
  padding-top: 6px;
}