<div class="row" data-behavior="proposals">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading panel-heading clearfix">
          <div class="panel-title pull-left" style="padding-top:6px;">
            Examples and proposals
          </div>
          <div class="btn-group pull-right">
            <%= link_to root_path, class: "btn btn-default", id: "toggle-proposals", remote: true  do %>
              <span id="toggle-proposals-label">Hide</span>
            <% end %>
          </div> 
      </div>
      
      <div class="panel-body" id="proposals-body">
        <div class="dropdown">
          <p class="dropdown-toggle dropdown-toggle-header" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span data-behavior="proposal-title"></span>
            <span class="caret"></span>
          </p>
            <ul class="dropdown-menu" data-behavior="proposals-dropdown"></ul>
        </div>
        <table class="table table-striped" data-behavior="proposal-list"></table>
      </div>  
    </div>
  </div>
</div>