  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading panel-heading-proposals">
          <ul class="nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle dropdown-toggle-proposals" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Examples and proposals<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#"><strong>Examples by Choisys</strong></a></li>
                <li><%= link_to 'Simple examples', root_path %></li>
                <li><%= link_to 'Complex examples', root_path %></li>
                <li role="separator" class="divider"></li>
                <li><a href="#"><strong>Proposals by users</strong></a></li>
                  <% if @proposers %>
                    <% @proposers.uniq.each do |proposer| %>  
                      <!-- <li><a href="#"><i>No proposals yet</i></a></li> -->
                        <li><a href="#"><%= proposer.full_name %></a></li>
                    <% end %>  
                  <% end %>
                <li role="separator" class="divider"></li>
                <li><%= link_to 'Ask for proposals', root_path, class: "btn btn-s btn-success" %></li>
              </ul>
            </li>  
          </ul>  
        </div>
        <div class="panel-body">
          <table class="table">
            <thead>
              <tr>
                <th>Simple examples by Choisys</th>
              </tr>  
            </thead>
            <tbody>
                <tr>
                  <td>Something</td>
                </tr>
                <tr>
                  <td>Something</td>
                </tr>
                <tr>
                  <td>Something</td>
                </tr>
                <tr>
                  <td>Dark side</td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>